{% extends "base.html" %}

{% block content %}
<div class="overlay container"></div>
<div class="container header-container">
  <div class="row h-100">
    <div class="col text-center mt-3">


      <h2 class="logo-font">Coronavirus</h2>
      <hr class="w-50 mb-1">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 mt-4">
        <h4 class="logo-font">Update 7.1.2021</h4>
        <p>The APC network is providing essential parcel collection and delivery services nationally on behalf
          of our SME customers. We are all committed to doing the very best we can in these difficult
          circumstances.</p>

        <p>Our team of key workers are continuing to provide essential supply chain services, as outlined by
          the Department of Transport <span class="dot-letter">[<a class="font-weight-bold"
            href="https://apc-overnight.com/files/uploads/RHA_FTA_letter_re_essential_travel_-_30-3-2020_-_final.pdf"
            target="_blank" rel="noreferrer">click
            here to view letter</a>]</span></p>

        <p>We continue to focus on providing excellent service wherever possible, however recognise that the
          situation may have an impact on service levels.</p>

        <p>Our brilliant drivers and depot teams appreciate your understanding and support. We continue to
          adopt the ‘No Contact Delivery Practice’.</p>

        <p>The safety and welfare of all those involved in our network, and of our customers, remains our
          priority.</p>

        <p>Please view The APC Overnight <a class="font-weight-bold"
            href="https://apc-overnight.com/the-apc-covid-secure" target="_blank" rel="noreferrer">COVID-19 Secure risk
            assessment</a></p>
      </div>
      <hr class="w-100 mb-1">
      <div class="col-12 mt-5">

        <h4>Customer Notice - Change to The APC Terms and Conditions of Carriage -
          COVID-19 (Coronavirus) - Effective March 14th 2020</h4>
        <p>In light of the Coronavirus pandemic, and in order to protect the safety of both consumers and delivery
          drivers, we have temporarily
          relaxed the requirement of Clause 5 (2) of The APC Terms and Conditions of Carriage and will be adopting the
          <span class="text-danger">NO CONTACT DELIVERY PRACTICE.</span></p>
        <p>Consumers will not be required to personally sign the ePOD device or hard copy document but will be required
          to
          provide their name verbally to the delivery driver whereby the driver will include this on the delivery
          record.
          If a customer refuses to provide their name, the consignment will not be left with them but fall under the
          ‘refused goods’ process.</p>
        <p>To ease pressure on the delivery drivers and maximise our delivery
          capabilities our pre 0900 service options are not available</p>
        <p>The Health and Safety of customers and all those involved in the provision of APC Services remains our
          priority - delays to service may be experienced</p>

      </div>
    </div>

  </div>


</div>


{% endblock %}