{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="rgba-black-light">
      <div class="container h-100">
        <div class="row h-100 header-container">
          <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-white">
              Wilson's Express Sameday Ltd
            </h1>
          </div>
        </div>
      </div>
    </div>
{% endblock %}