{% extends "base.html" %}
{% block page_alert %}
<div class="row alert-container d-none d-sm-block">

  <div class="col-12">
    <div class="site-wide-alert alert alert-danger ">
      <i class="fas fa-head-side-virus fa-lg"></i> Our team is commited to you during this pandemic but services
      may be impacted! <a class="text-white font-weight-bold" href="{% url 'covid' %}"> Click Here For Current
        Covid Info</a>

      <button type="button" class="close text-white" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}

<div class="rgba-black-light">
  <div class="container header-container">
    <div class="row">
      <div class="col-12 col-lg-8 mt-5">
        <h1 class="text-white text-center text-lg-left">
          Wilson's Express Sameday Ltd
        </h1>
        <h2 class="text-white display-4 mb-5 text-center text-lg-left">Specialists in Sameday, Next Day and
          International
          Deliveries!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <form action="{% url 'quote' %}" method="POST" class="form mb-2 p-3 bg-white" enctype="multipart/form-data">
          {% csrf_token %}
          <h2 class="p-3">Request a Quote</h2>
          <div class="container">
          <div class="row ">
            <div class="col-12 col-md-6">
              <fieldset>
                
                {{ quote_form.c_postcode | as_crispy_field }}

              </fieldset>
            </div>

            <div class="col-12 col-md-6">
              <fieldset>
          
                {{ quote_form.d_postcode | as_crispy_field }}

              </fieldset>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6 col-12 p-3">
              <fieldset>
                <legend class="lead">Time</legend>
                {{ quote_form.service | as_crispy_field }}
              </fieldset>
            </div>
            <div class="col-md-6 col-12 p-3">
              <fieldset>
                <legend class="lead">Speciality</legend>
                {{ quote_form.spec_service | as_crispy_field }}

              </fieldset>
            </div>

          </div>
          <div class="row">
            <fieldset>
            
              <div class="col-12">
                <div class="row">
                  <div class="col-3">
                    {{ quote_form.weight | as_crispy_field }}
                  </div>
                  <div class="col-3">
                    {{ quote_form.height | as_crispy_field }}
                  </div>
                  <div class="col-3">
                    {{ quote_form.length | as_crispy_field }}
                  </div>
                  <div class="col-3">
                    {{ quote_form.width | as_crispy_field }}
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
          <div class="text-right">
            <button class="btn-dark btn btn-md rounded-0" type="submit">Get Quote!</button>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-8">
        <div class="">
          <h3 class="text-white">Need to send a parcel? Open a credit account? We can help!</h3>
          <h4>
            <a href="#" class="home-buttons btn btn-md rounder-0 text-uppercase py-2 text-white">Send a
              Parcel</a>
            <a href="{% url 'create_account' %}"
              class="home-buttons btn btn-md rounder-0 text-uppercase py-2 text-white">Open a
              Credit Account</a>
          </h4>
        </div>
        <div class="my-5">
          <h3 class="text-white">Try our new store for all your packaging needs</h3>
          <h4>
            <a href="{% url 'store_home' %}"
              class="home-buttons btn btn-md rounder-0 text-uppercase py-2 text-white">Store</a>
          </h4>


        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{%block postloadjs%}
<script>
  $(document).ready(function () {
    $("#div_id_service").children('div').addClass("d-flex flex-row service");
    $(".d-flex.flex-row.service").children().children('input').addClass("time m-3");
    $(".d-flex.flex-row.service").children('div').addClass("m-3");
    $('input.time').on('change', function () {
      $('input.time').not(this).prop('checked', false);
    });
    $("#div_id_spec_service").children('div').addClass("d-flex flex-row special");
    $(".d-flex.flex-row.special").children().children('input').addClass("special m-3");
    $(".d-flex.flex-row.special").children('div').addClass("m-3");
    $('input.special').on('change', function () {
      $('input.special').not(this).prop('checked', false);
    });
  });
</script>

{% endblock %}