<tr>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.c_contact_name|title }}, {{ item.booking.c_company|title}}</p>
	</td>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.d_contact_name|title }}, {{ item.booking.d_company|title}}</p>
	</td>
	<td class="">
		<p class="my-0 font-italic"><span class="font-weight-bold text-left">Actual Weight:</span> {{ item.booking.overall_weight }}</p>
	</td>
	<td class="font-weight-bold">
		<p class="my-0 h4">£{{ item.subtotal|floatformat:2 }}</p>
	</td>
</tr>
<tr>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.c_street_address1|title }}</p>
	</td>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.d_street_address1|title }}</p>
	</td>
	<td class="">
		<p class="my-0 font-italic"><span class="font-weight-bold">Volume Weight:</span> {{ item.booking.overall_volume }}</p>
	</td>
	<td class="">
	</td>
</tr>
{% if item.booking.c_street_address2 %}
<tr>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.c_street_address2|title }}</p>
	</td>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.d_street_address2|title }}</p>
	</td>
	<td class="">
	</td>
	<td class="">
	</td>
</tr>
{% endif %}
<tr>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.c_town_or_city|title }}, {{ item.booking.c_county|title}}</p>
	</td>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.d_town_or_city|title }}, {{ item.booking.d_county|title}}</p>
	</td>
	<td class="">
		<p class="my-0 font-italic"><span class="font-weight-bold">Service:</span> {% if item.booking.spec_service %}{{ item.booking.spec_service|title }}, {% endif %} {{ item.booking.service|title }}</p>
	</td>
	<td class="">
	</td>
</tr>
<tr>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.c_postcode }}</p>
	</td>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.d_postcode }}</p>
	</td>
	<td class="">
		<p class="my-0 font-italic"><span class="font-weight-bold">Items:</span> {{ item.booking.items }}</p>
	</td>
	<td class="">
	</td>
</tr>
<tr>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.c_phone_number }}</p>
	</td>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.d_phone_number }}</p>
	</td>
	<td class="">
	</td>
	<td class="">
	</td>
</tr>
<tr>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.c_email }}</p>
	</td>
	<td class="pl-3">
		<p class="my-0 font-italic">{{ item.booking.d_email }}</p>
	</td>
	<td class="">
	</td>
	<td class="">
		<a class="remove-item text-danger" id="remove_{{ item.booking_ref }}">Remove Booking <i class="far fa-trash-alt pl-2"></i></a>
	</td>
</tr>
<tr>
	<th colspan="5"></th>
</tr>