{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="overlay container"></div>
<div class="container header-container">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="logo-font">FAQ's</h2>
      <hr class="w-50 mb-4">
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for faq in faqs %}
      <div class="col-12 mt-3">
        <h4>{{faq.question}}</h4>
        <p>
          {{faq.answer}}
        </p>
        <a href="{{faq.url}}"></a>
        {% if request.user.is_superuser %}
        <small class="">
          <a href="{% url 'edit_faq' faq.q_id %}"><i class="far fa-edit"></i></a> |
          <a class="text-danger" href="{% url 'delete_faq' faq.q_id %}"><i
                          class="far fa-trash-alt"></i></a>
        </small>
        {% endif %}

      </div>
      <hr class="w-100">
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}