{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block extra_js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

{% block content %}
<div class="overlay container"></div>
<div class="container header-container">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="logo-font">Book Delivery</h2>
      <hr class="w-50 mb-1">
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-12 mt-5">

        <h4>Actual Weight: {{quote.overall_weight}}{{booking.overall_weight}}</h4>
        <h4>Volume Weight: {{quote.overall_volume}}{{booking.overall_volume}}</h4>
        <h4>Items: {{quote.items}}{{booking.items}}</h4>
        <h4>Price: <span class="font-weight-bold display-4">£{{quote.quote|floatformat:2}}{{booking.price|floatformat:2}}</span> </h4>
        <p>
          Reference Number: <span class="font-weight-bold">{{quote.quote_ref}}{{booking.booking_ref}}</span>
          <span class="small d-block font-weight-light font-italic">Use this reference if you need to contact us about
            your quote</span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

      <form method="POST" id="quote-form" class="form mb-2 p-3 bg-white"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          <div class="row ">
            <div class="col-12 col-md-6">
              <fieldset>
                <legend>Collection</legend>
                {{ booking_form.c_contact_name | as_crispy_field }}
                {{ booking_form.c_company | as_crispy_field }}
                {{ booking_form.c_email | as_crispy_field }}
                {{ booking_form.c_phone_number | as_crispy_field }}
                {{ booking_form.c_street_address1 | as_crispy_field }}
                {{ booking_form.c_street_address2 | as_crispy_field }}
                {{ booking_form.c_town_or_city | as_crispy_field }}
                {{ booking_form.c_county | as_crispy_field }}
                <p class="font-weight-bold pl-3 lead">{{ quote.c_postcode }}</p>

              </fieldset>
            </div>
            <div class="col-12 col-md-6">
              <fieldset>
                <legend>Delivery</legend>
                {{ booking_form.d_contact_name | as_crispy_field }}
                {{ booking_form.d_company | as_crispy_field }}
                {{ booking_form.d_email | as_crispy_field }}
                {{ booking_form.d_phone_number | as_crispy_field }}
                {{ booking_form.d_street_address1 | as_crispy_field }}
                {{ booking_form.d_street_address2 | as_crispy_field }}
                {{ booking_form.d_town_or_city | as_crispy_field }}
                {{ booking_form.d_county | as_crispy_field }}
                <p class="font-weight-bold pl-3 lead">{{ quote.d_postcode }}</p>

              </fieldset>
            </div>
          </div>
          <fieldset>
            <div class="row">
              <legend class="lead">Your Contact Details</legend>
              <div class="col-12 col-md-6">
                {{ booking_form.bookers_phone_number | as_crispy_field }}
              </div>
              <div class="col-12 col-md-6">
                {{ booking_form.bookers_email | as_crispy_field }}
              </div>
            </div>
          </fieldset>
          <div class="row" id="services">
            <h4 class="w-100 px-3">Service</h4>
            <div class="col-md-6 col-12 p-3 small">
              <fieldset>
                <legend class="lead">Time</legend>
                {{ booking_form.service | as_crispy_field }}
              </fieldset>
            </div>
            <div class="col-md-6 col-12 p-3 small">
              <fieldset>
                <legend class="lead">Speciality</legend>
                {{ booking_form.spec_service | as_crispy_field }}

              </fieldset>
            </div>

          </div>

          <div class="row">
            <div id="items" class="col-12">

              <fieldset>
                <legend class="">Dimensions & Weight</legend>
                <div class="col-12 col-lg-9 mt-2 small font-weight-light font-italics">
                  <p>Volumetric weight can be calculated by multiplying the length, width and height of a parcel (in cm)
                    and
                    dividing that figure by 5000. You may often find that the price of your shipment is dictated by the
                    volumetric
                    weight of your parcel(s) rather than the actual weight.</p>
                </div>
                <div id="item_1" class="d-flex justify-content-around row">
                  <div class="col-12">
                    <fieldset>
                      <legend class="small">Item 1</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.weight append='kg' %}

                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.height append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.length append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.width append='cm' %}
                        </div>
                      </div>
                    </fieldset>
                  </div>

                </div>
                <div id="item_2" class="d-none justify-content-around row">
                  <div class="col-12">
                    <fieldset>
                      <legend class="small">Item 2</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.weight1 append='kg' %}

                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.height1 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.length1 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.width1 append='cm' %}
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div id="item_3" class="d-none justify-content-around row">
                  <div class="col-12">
                    <fieldset>
                      <legend class="small">Item 3</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.weight2 append='kg' %}

                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.height2 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.length2 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.width2 append='cm' %}
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div id="item_4" class="d-none justify-content-around row">
                  <div class="col-12">
                    <fieldset>
                      <legend class="small">Item 4</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.weight3 append='kg' %}

                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.height3 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.length3 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.width3 append='cm' %}
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div id="item_5" class="d-none justify-content-around row">
                  <div class="col-12">
                    <fieldset>
                      <legend class="small">Item 5</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.weight4 append='kg' %}

                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.height4 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.length4 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon booking_form.width4 append='cm' %}
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button id="submit-button" class="btn btn-black rounded-0">
            <span class="font-weight-bold">Add Booking to Bag</span>
            <span class="icon">
              <i class="fas fa-lock"></i>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="loading-overlay">
  <h1 class="text-light logo-font loading-spinner wrapper">
    <span class="circle circle-1"></span>
    <span class="circle circle-2"></span>
    <span class="circle circle-3"></span>
    <span class="circle circle-4"></span>
  </h1>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'quote/js/quote.js' %}"></script>
{% endblock %}