{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block extra_meta %}
<noscript>
  <meta http-equiv="refresh" content="0.0;url={% url 'contact' %}">
</noscript>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block extra_js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

{% block content %}
<noscript>
  <style>
    html {
      display: none;
    }
  </style>
</noscript>
<div class="overlay container"></div>
<div class="container header-container">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="logo-font">Quotation</h2>
      <hr class="w-50 mb-1">
    </div>
  </div>
  {% if quote.quote %}
  <div class="row">
    <div class="container">
      <div class="col-12 mt-5">

        <h4>Actual Weight: {{quote.overall_weight}}</h4>
        <h4>Volume Weight: {{quote.overall_volume}}</h4>
        <h4>Items: {{quote.items}}</h4>
        <h4>Price: <span class="font-weight-bold display-4">£{{quote.quote|floatformat:2}}</span> </h4>
        <p>
          Reference Number: <span class="font-weight-bold">{{quote.quote_ref}}</span>
          <span class="small d-block font-weight-light font-italic">Use this reference if you need to contact us about
            your quote</span>
           
        </p>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-12">

      <form method="POST" id="quote-form" class="form mb-2 p-3 bg-white" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
          <div class="row ">
            <div class="col-12 col-md-6">
              <fieldset>
                <legend>Collection</legend>
                {{ quote_form.c_postcode | as_crispy_field }}

              </fieldset>
            </div>

            <div class="col-12 col-md-6">
              <fieldset>
                <legend>Delivery</legend>
                {{ quote_form.d_postcode | as_crispy_field }}

              </fieldset>
            </div>

          </div>
          <div class="row" id="services">
            <h4 class="w-100 px-3">Service</h4>
            <div class="col-md-6 col-12 p-3 small">
              <fieldset>
                <legend class="lead">Time</legend>
                {{ quote_form.service | as_crispy_field }}
              </fieldset>
            </div>
            <div class="col-md-6 col-12 p-3 small">
              <fieldset>
                <legend class="lead">Premium Service</legend>
                {{ quote_form.spec_service | as_crispy_field }}

              </fieldset>
            </div>

          </div>
          <div class="row">
            <div id="items" class="col-12">
              <fieldset>
                <legend class="">Dimensions & Weight</legend>
                <div class="col-12 col-lg-9 mt-2 small font-weight-light font-italics">
                  <p>Volumetric weight can be calculated by multiplying the length, width and height of a parcel (in cm)
                    and
                    dividing that figure by 5000. You may often find that the price of your shipment is dictated by the
                    volumetric
                    weight of your parcel(s) rather than the actual weight.</p>
                </div>
                <div id="item_1" class="d-flex justify-content-around row">
                  <div class="col-12">
                    <fieldset>
                      <legend class="small">Item 1</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.weight append='kg' %}

                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.height append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.length append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.width append='cm' %}
                        </div>
                      </div>
                    </fieldset>
                  </div>

                </div>
                <div id="item_2" class="d-none justify-content-around row">
                  <div class="col-12">
                    <fieldset>
                      <legend class="small">Item 2</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.weight1 append='kg' %}

                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.height1 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.length1 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.width1 append='cm' %}
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div id="item_3" class="d-none justify-content-around row">
                  <div class="col-12">
                    <fieldset>
                      <legend class="small">Item 3</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.weight2 append='kg' %}

                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.height2 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.length2 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.width2 append='cm' %}
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div id="item_4" class="d-none justify-content-around row">
                  <div class="col-12">
                    <fieldset>
                      <legend class="small">Item 4</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.weight3 append='kg' %}

                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.height3 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.length3 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.width3 append='cm' %}
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div id="item_5" class="d-none justify-content-around row">
                  <div class="col-12">
                    <fieldset>
                      <legend class="small">Item 5</legend>
                      <div class="row">
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.weight4 append='kg' %}

                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.height4 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.length4 append='cm' %}
                        </div>
                        <div class="col-sm-3">
                          {% crispy_addon quote_form.width4 append='cm' %}
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="ml-3 d-flex justify-content-end">
                  <button type="button" class="btn pl-3" id="less_items">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn pl-3" id="more_items">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </fieldset>
            </div>
          </div>

          <fieldset>
            <div class="row">
              <legend class="lead">Your Contact Details</legend>
              <div class="col-12 col-md-6">


                {{ quote_form.bookers_phone_number | as_crispy_field }}


              </div>

              <div class="col-12 col-md-6">

                {{ quote_form.bookers_email | as_crispy_field }}

              </div>

            </div>
          </fieldset>
        </div>
        <div class="text-right">
          <button id="details" name="details" class="btn-dark btn btn-md rounded-0" type="submit">Enter
            Details</button>
          <button name="update" class="btn-dark btn btn-md rounded-0" type="submit">Update
            Quote!</button>
            <p class="small my-1">
              If you have changed any details you will need to update your quote!
            </p>
        </div>

      </form>
    </div>
  </div>
</div>

<div id="loading-overlay">
  <h1 class="text-light logo-font loading-spinner wrapper">
    <span class="circle circle-1"></span>
    <span class="circle circle-2"></span>
    <span class="circle circle-3"></span>
    <span class="circle circle-4"></span>
  </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'quote/js/quote.js' %}"></script>
<script>


  $("#id_c_county").prepend('<option value="" selected="selected">County</option>');
  $("#id_d_county").prepend('<option value="" selected="selected">County</option>');

  let cCountySelected = $('#id_c_county').val();
  if (!cCountySelected) {
    $('#id_c_county').css('color', '#aab7c4');
  };
  $('#id_c_county').change(function () {
    cCountySelected = $(this).val();
    if (!cCountySelected) {
      $(this).css('color', '#aab7c4');
    } else {
      $(this).css('color', '#000');
    }
  });
  let dCountySelected = $('#id_d_county').val();
  if (!dCountySelected) {
    $('#id_d_county').css('color', '#aab7c4');
  };
  $('#id_d_county').change(function () {
    dCountySelected = $(this).val();
    if (!dCountySelected) {
      $(this).css('color', '#aab7c4');
    } else {
      $(this).css('color', '#000');
    }
  }); 
</script>

{% endblock %}