.thinner-labels label {
  width: 60px
}

#header{
  height: 50px;
  background: #fff;
  color: #000;
  border-bottom: solid #28a745;
  border-width: 3px;
}
#header a:link, #header a:visited {
    color: #28a745;

}
#branding h1{
  color: #28a745;
}

h1{
  color: #000;
}
.module h2, .module caption, .inline-group h2 {
  background: #28a745;
  color: #fff;
}
a.section:link {
  color: #fff;
}
a.section:link:visited {
  color: #fff;
}
a:link{
  color: #000;
}
a:visited {
    color: #000;
    text-decoration: none;
}


div.breadcrumbs {
  background: #28a745;
  color: #fff;
}
div.breadcrumbs a {
  color: #333;
}
div.breadcrumbs a:hover {
  color: #fff;
}