
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
  background: url("/media/apcbg2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 200px);
  color: #555;
  font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.map-container {
  height: 300px;
}
#map {
  height: 100%;
}

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:focus {
    color: rgba(0,0,0,.5);
    border-color: transparent;
    outline: unset;
}

.grand-total-position {
    position: absolute;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #fff;
    background-color: #CA0B00;
    border-color: #CA0B00;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}



.rgba-black-light,
.rgba-black-light:after,
.rgba-black-light:before {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000009c;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

.main-logo-link {
  width: fit-content;
  top: 0;
}

button#main-nav-btn.navbar-toggler {
  z-index: 1;
  margin-top: 16px;
}

.navbar.navbar-expand-lg.navbar-dark {
  padding: 0 1rem;
}

#topnav {
  box-shadow: -1px 4px 10px -1px rgba(0,0,0,0.7);
  position:relative;
  z-index:999;
}

.header-container {
    margin-top: 200px;
  }

#store {
  box-shadow: -1px 4px 10px -1px rgba(0,0,0,0.7);
  position:relative;
  z-index:998;
}

.overlay {
  height: 100%;
  width: 100%;
  margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  background: white;
  z-index: -1;
}

.store-header-margin {
    margin-top: 240px;
}
.separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #ffffffd7;
}

.home-buttons {
  color: white;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  min-width: 160px;
}

.btn-glass {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  color: white;
}

.btn-outline-glass {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  color: black !important; /* use important to override link colors for <a> elements */
  border: 1px solid black;
}

.btn-outline-glass:hover,
.btn-outline-glass:active,
.btn-outline-black:focus {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  color: white !important;
}

.home-buttons:hover,
.home-buttons:active,
.home-buttons:focus,
.btn-glass:hover,
.btn-glass:active,
.btn-glass:focus {
  background-color: rgba(94, 94, 94, 0.15);  
  backdrop-filter: blur(5px);
  color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    border-radius:3px;
    
    
}
.update-link,
.remove-item {
    cursor:pointer;
}

.btt-link {
    cursor: pointer;
    box-shadow: 7px 7px 14px -3px rgba(0,0,0,0.65);
}

.nav-link {
  display: block;
  padding: .5rem .5rem;
}

.small-links {
  z-index: 2;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.stripe-style-input,
.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: none;
  border-radius: 0px;
  background-color: white;
  border-bottom: 2px solid #000;
}
.stripe-style-input:focus,
.stripe-style-input:active,
.allauth-form-inner-content input:focus,
.allauth-form-inner-content input:active {
  box-shadow: 2px 3px 3px 0 #cfd7df;
  border-color: #339244;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
  background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #339244; /* text-info */
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 180px;
    left: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    background-color: #fff;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    left: 103px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;

  }
  .search-bar {
      position: absolute;
      top: 0;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu.search-bar {
    left: 50px;
    margin: 0;
    padding: 0;
    width: 300px;
  }
  
}

@media (max-width: 992px) {
  .header-container {
    margin-top: 130px;
}
.nav-line-height {
    line-height: 0.6rem;
}
}

@media (max-width: 999px) {
  .store-header-margin {
    margin-top: 180px;
}
}

@media (max-width: 575px) {
  .store-header-margin {
    margin-top: 130px;
}
}


@media (max-width: 991px) {
  .nav-item {
    border-bottom: 1px solid;
  }  
  .btn.btn-outline-glass.rounded-0,
  .btn.btn-glass.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-glass.rounded-0.btn-md,
    .btn.btn-glass.rounded-0.btn-md {
        padding: .375rem .375rem;
        font-size: .75rem;
    }
}
 
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
@media (min-width: 1200px) {
    div p span.dot-letter {

    display: table;

    }
}


@media (min-width: 1200px) {
.container {
    max-width: 80%;
}
}