/* allows users without javascript to use navigation */

ul {
  display: block;
  transition-duration: 0.8s;
    }

ul:hover {
  cursor: pointer;
    }

ul li:hover>ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-top: -10px;
}

ul li a {
      clear: both;
      width: 100%;
}

#navbar-toggle-cbox:checked ~ .collapse:not(.show) {
    display: block;
}