

li {
  display: block;
  transition-duration: 0.5s;
    }

li:hover {
  cursor: pointer;
    }

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;    
}

ul li:hover>ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-top: -10px;
}

ul li a {
      clear: both;
      width: 100%;
    }