/* allows users without javascript to use navigation */

li {
  display: block;
  transition-duration: 0.8s;
    }

li:hover {
  cursor: pointer;
    }

li ul:hover>ul,
li ul ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-top: -10px;
}

li ul a {
      clear: both;
      width: 100%;
}

#navbar-toggle-cbox:checked ~ .collapse:not(.show) {
    display: block;
}