<!-- Customizes the header of the admin and also imports custom css classes -->
{% extends 'admin/base.html' %}
{% load static %}
{% block responsive %}
<link rel="stylesheet" href="{% static 'css/responsadmin.css' %}">
{% endblock %}
{% block extrahead %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}
{% block branding %}

  <div class="row">
    <div class="col-md-12 col-lg-6">


      <div id="company-name" class="d-flex align-items-center">

        <h1 id="site-name">
          Wilson's Express Admin
        </h1>
      </div>
    </div>
    
    <div class="col-md-12 col-lg-6">

      <a class="float-right" href="{% url 'admin:index' %}">
        <img width="170" class="logo-font text-dark my-0" src="/media/wilsons-logo-trans.png" alt="Wilson's Express">
      </a>
    </div>
  </div>



{% endblock %}