<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item nav-width">
      <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="{% url 'home' %}" id="home-link">
        Home
      </a>
    </li>
    <li class="nav-item nav-width dropdown">
      <a class="logo-font font-weight-bold nav-link text-dark text-nowrap mr-5" href="#" id="recieving-link"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Recieving a Parcel?
      </a>
      <ul class="dropdown-menu border-0" aria-labelledby="recieving-link">
        <a href="https://apc-overnight.com/receiving-a-parcel/tracking" target="_blank" rel="noreferrer"
          class="dropdown-item inline-list">Track With APC Pinpoint</a>
        <a href="https://apc-overnight.com/receiving-a-parcel/re-schedule-delivery/" target="_blank" rel="noreferrer"
          class="dropdown-item inline-list">Reschedule with APC Called</a>
      </ul>
    </li>

    <li class="nav-item nav-width dropdown">
      <a class="logo-font font-weight-bold nav-link text-dark text-nowrap mr-5" href="#" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Sending a Parcel?
      </a>
      <ul class="dropdown-menu border-0" aria-labelledby="sending-link" id="sending-links">

        <a href="{% url 'quote' %}" class="dropdown-item">Send a Parcel</a>

        <a href="{% url 'create_account' %}" class="dropdown-item account">Open a Credit Account</a>

      </ul>
    </li>
  </ul>
</div>