<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto ">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5 text-dark" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-dark text-nowrap" href="#" id="recieving-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recieving a Parcel?
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="https://apc-overnight.com/receiving-a-parcel/tracking" target="_blank" rel="noreferrer"
                    class="dropdown-item inline-list">Track With APC Pinpoint</a>
                <a href="https://apc-overnight.com/receiving-a-parcel/re-schedule-delivery/" target="_blank" rel="noreferrer"
                    class="dropdown-item inline-list">Reschedule with APC Called</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-dark text-nowrap" href="#" id="sending-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sending a Parcel?
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'create_account' %}" class="dropdown-item">Open a Credit Account</a>
                <a href="#" class="dropdown-item">Send a Parcel</a>
            </div>
        </li>
        {% if url != categories or url != products %}
        {% else %}
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark text-nowrap" href="{% url 'store_home' %}"
                id="store-link">
                Store
            </a>
        </li>
        {% endif %}
    </ul>
</div>