<div class="row bg-dark nav justify-content-lg-center justify-content-start">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="store-nav">
      <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
          <a class="logo-font nav-link mr-5 text-light text-nowrap" id="all-products-link"
            href="{% url 'products' %}">
            All Products
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="logo-font nav-link mr-5 text-light text-nowrap" href="#" id="boxes-link" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Boxes
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="boxes-link">
            <a href="#" class="dropdown-item inline-list">Single Wall Boxes</a>
            <a href="#" class="dropdown-item inline-list">Double Wall Boxes</a>
            <a href="#" class="dropdown-item inline-list">Double Wall Long Boxes</a>
            <a href="#" class="dropdown-item inline-list">Bottle Boxes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="logo-font nav-link mr-5 text-light text-nowrap" href="#" id="general-packing-link"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            General Packing
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="general-packing-link">
            <a href="#" class="dropdown-item inline-list">Bubble Bags</a>
            <a href="#" class="dropdown-item inline-list">Bubble Wrap</a>
            <a href="#" class="dropdown-item inline-list">Document Wallets</a>
            <a href="#" class="dropdown-item inline-list">Shrink Wrap</a>
            <a href="#" class="dropdown-item inline-list">Void Fill</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="logo-font nav-link mr-5 text-light text-nowrap" id="tape-link" href="#">
            Tape
          </a>
        </li>

        <li class="nav-item">
          <a class="logo-font nav-link text-light mr-5" id="labels-link" href="#">
            Labels
          </a>
        </li>
      </ul>
    </div>

  </nav>
</div>