{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% include 'includes/store-nav.html' %}
{% endblock %}


{% block content %}
<div class="overlay container"></div>
<div class="container store-header-margin">
  <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image1' and field.name != 'image2'  %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image1').change(function() {
            var file = $('#new-image1')[0].files[0];
            $('#filename-image1').text(`Image will be set to: ${file.name}`);
        });
        $('#new-image2').change(function() {
            var file1 = $('#new-image2')[0].files[0];
            $('#filename-image2').text(`Image will be set to: ${file1.name}`);
        });
    </script>
{% endblock %}