{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% include 'includes/store-nav.html' %}
{% endblock %}


{% block content %}
<div class="overlay container"></div>
<div class="container store-header-margin">
  <div class="row">
    <div class="col text-center mt-3">

      {% url 'store_home' as the_url %}
      {% if request.get_full_path == the_url %}

        <h2 class="logo-font">Categories</h2>

      {% endif %}

      {% if request.get_full_path == '/products/all_products/?sort=price&direction=asc' %}
      
        <h2 class="logo-font">Products</h2>
        <h5 class="logo-font">Sorted By Price</h5>

      {% endif %}

      {% if request.get_full_path == '/products/all_products/?sort=category&direction=asc' %}
      
        <h2 class="logo-font">Products</h2>
        <h5 class="logo-font">Sorted By Category</h5>

      {% endif %}
      

      {% url 'products' as the_url %}
      {% if request.get_full_path == the_url %}
      
        <h2 class="logo-font">Products</h2>

      {% endif %}
      
      {% for c in current_categories %}
        <h2 class="logo-font">{{ c.friendly_name }}</h2>
      {% endfor %}
       
      <hr class="w-50 mb-1">
    </div>

    <div class="product-container col-10 offset-1">
      <div class="row mt-1 mb-2"></div>
      <div class="row">


        {% for category in categories %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card h-100 border-0">
            {% if category.image1 %}
            <a href="">
              <img class="card-img-top img-fluid" src="{{ category.image1_url }}" alt="{{ category.name }}">
            </a>
            {% else %}
            <a href="">
              <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ category.name }}">
            </a>
            {% endif %}
            <div class="card-body pb-0">
              <p class="mb-0">{{ category.friendly_name }}</p>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-5">
          <hr>
        </div>
        {% endif %}
        {% endfor %}


        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <div class="card h-100 border-0">
            {% if product.image1 %}
            <a href="{% url 'product_detail' product.id %}">
              <img class="card-img-top img-fluid" src="{{ product.image1_url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="{% url 'product_detail' product.id %}">
              <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
            {% if 'boxes' in product.category|stringformat:"s"  %}
            <div class="card-body pb-0">
              <p class="mb-0">{{ product.size }}</p>
            </div>
            {% else %}


            {% endif %}
            <div class="card-body pb-0">
              <p class="mb-0">{{ product.name }}</p>
            </div>
            <div class="card-footer bg-white pt-0 border-0 text-left">
              <div class="row">
                <div class="col">
                  <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
          <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-5">
          <hr>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}